<div class="border-2 rounded-xl p-4 flex flex-row">
  <div class="w-1/2">
    <span class="mb-4 text-lg mr-2">{{nameItem}}</span>
    <button type="button" class="
                    h-10
                    w-16
                    rounded-lg
                    text-white
                    rasu
                    bg-gradient-to-r
                    from-green-400
                    to-blue-500
                    hover:from-pink-500 hover:to-yellow-500
                  " (click)="onClickItem()">
      Click
    </button>
  </div>

  <div class="w-1/2">
    <img class="w-full" src="../../../assets/images/{{nameImage}}.png">
  </div>
</div>